<div class="col-md-3 project mb-40">
	<%= link_to projects_nerealty_path do %>
		<div class="image" style="background-image:url(/assets/projects/nerealty/project.jpg)"></div>
		<div class="heading small">Nerealty</div>
		<div class="text">Площадка для удобного поиска недвижимости</div>
	<% end %>
</div>