<section class="hero page">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1421.109786956103!2d33.460967842923274!3d44.57207576770121!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1427912519005" width="100%" height="100%" frameborder="0" style="border:0"></iframe>
</section>
<section class="contacts page padded closed">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 mb-80">
				<div class="explanation"><span>Пишите нам</span></div>
				<div class="separator"><%= render "partials/elements/separator" %></div>
				<div class="heading medium"><span>Контакты</span></div>
			</div>
			<div class="col-md-9">
				<div class="intro medium">
					<span>Мы всегда рады возможности поработать с вами. Давайте сделаем вместе что-то крутое.</span>
				</div>
				<div class="row mt-80">
					<div class="col-md-7">
						<form action="#" class="contacts-form">
							<input type="text" name="name" placeholder="Ваше имя">
							<input type="text" name="email" placeholder="Ваша почта">
							<textarea name="message" id="message" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
							<button type="submit">Отправить</button>
						</form>
					</div>
					<div class="col-md-5">
						<div class="block">
							<div class="heading small">Наши координаты</div>
							<p>просп. Октябрьской Революции 43-В, 4й этаж, офис 3-4</p>
							<p><a href="mailto:hello@pixelparty.ru">hello@pixelparty.ru</a></p>
							<p><a href="tel:+79787491448">+7 978 749 14 48</a></p>
						</div>
						<div class="block mt-80">
							<div class="heading small">Хотите с нами работать?</div>
							<p>Умеете делать крутые вещи или хотите научиться? Пишите нам, мы обязательно найдем общий язык.</p>
							<p><a href="mailto:job@pixelparty.ru">job@pixelparty.ru</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</section>