<section class="hero page" style="background-image:url(/assets/pages/projects/bg.jpg)">
</section>
<section class="works brief padded half-closed gray">
	<div class="container-fluid">
		<div class="row">
			<%= render "partials/projects/all" %>
		</div>
	</div>
</section>