/* COLORS */

$font-color: #1c1c1c;
$light-gray: #f9f9f9;

$main-color: #3399ff;
$text-gray: #999;

/* FONTS */

$latoReg: "LatoReg", Helvetica, Arial, sans-serif;
$latoHeavy: "LatoHeavy", Helvetica, Arial, sans-serif;