@import "mixins";

/* HORIZONTAL BG SLIDE */

@include keyframes(animatedBg) {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 0;
    }
}

/* INTERACTIVE */

.fader {
	opacity: 0;
	@include transition(all .3s ease);

	&.active {
		opacity: 1;
	}	
}

.animatedBg {
	background-size: contain;
	background-position: 0px 0px;

	background-repeat: repeat-x;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	@include animation('animatedBg 20s linear infinite');
}